@{
    ViewBag.Title = "Tables - ImageHomestay";
    Layout = "~/Areas/AdminControl/Views/Shared/_LayoutAdmin.cshtml";
}
@model WebApplication1.Areas.AdminControl.Models.FormViewModel

@{ 
    var count = 1;
}

<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="@Url.Action("Index","Admin")" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current">Tables</a> </div>
        <h1>Images Table</h1>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box" id="formImage">
                    <div class="widget-title">
                        <div class="widget-title">
                            <span class="icon togge-icon"> <i class="icon-th"></i> </span>
                            <h5>Images Table</h5>
                            <span class="label label-info" id="AddImageTable"> ADD++ </span>
                        </div>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Homestay Using (ID)</th>
                                    <th>Url</th>
                                    <th>Image</th>
                                    <th>Content</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var itemImage in Model.ImageForm)
                                    {
                                        var nameHS = "";
                                        count = count + 1;
                                        foreach (var item in Model.HomestayForm)
                                        {
                                            if (item.ID_HomeStay == itemImage.IDHomeStay)
                                            {
                                                nameHS = item.Name;
                                                break;
                                            }
                                        }
                                        string idImage = "image" + @itemImage.IDImage.ToString();
                                        <tr class="odd Image" id="@idImage">
                                            <td>@(count-1)</td>
                                            <td>@itemImage.IDHomeStay - @nameHS</td>
                                            <td>@itemImage.Image </td>
                                            <td><img src="~/@itemImage.Image" style="width: 80px; height: auto" /></td>
                                            <td>
                                                <span data-id-edit="@itemImage.IDImage" class="glyphicon glyphicon-plus-sign EditImage">Edit</span>
                                                <span style="color:red" data-src-image="@itemImage.Image" data-id-remove="@itemImage.IDImage" class="glyphicon glyphicon-plus-sign RemoveImage">Remove</span>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Areas/AdminControl/Views/Shared/Tables/PopupAddImage.cshtml");
    @Html.Partial("~/Areas/AdminControl/Views/Shared/Tables/PopupEditImage.cshtml");
</div>

<!--end-Footer-part-->
<script src="~/Areas/AdminControl/js/jquery.min.js"></script>
<script src="~/Areas/AdminControl/js/jquery.ui.custom.js"></script>
<script src="~/Areas/AdminControl/js/bootstrap.min.js"></script>
<script src="~/Areas/AdminControl/js/jquery.uniform.js"></script>
<script src="~/Areas/AdminControl/js/select2.min.js"></script>
<script src="~/Areas/AdminControl/js/jquery.dataTables.min.js"></script>
<script src="~/Areas/AdminControl/js/matrix.js"></script>
<script src="~/Areas/AdminControl/js/matrix.tables.js"></script>

<script>
    $(document).ready(function () {
        LoadOptionHomeStay();

        EventImage();
    });

    function EventImage() {
        $('.togge-icon').click(function () {
            $($($(this).parent().parent().parent().children())[1]).toggle("slow");
        });

        $('#AddImageTable').click(function () {
            $('.filename').text("No file selected");
            $("#file").val("");
            $('.select2-search-choice').remove();
            $('#AddImagePopup').removeClass('hidden');
        });

        $('.CloseModal').click(function () {
            $('#AddImagePopup').addClass('hidden');
            $('#EditImagePopup').addClass('hidden');
        });

        $('#SubmitAddImage').click(function () {
            AddImage();
        });

        $('.RemoveImage').click(function () {
            var id = $(this).attr('data-id-remove');
            var src = $(this).attr('data-src-image');
            var r = confirm("Do you want delete this!");
            if (r == true) {
                RemoveImage(id, src);
                location.reload();
            }
        });

        $('.EditImage').click(function () {
            $('#EditImagePopup').removeClass('hidden');
            var id = $(this).attr('data-id-edit');
            var id_name = $($(this).parent().parent().find("td"))[1];
            $('#hiddenIDEdit').val(id);
            $('#nameAndIdImage').html("Edit ID Image : " + id);

            LoadPopupEdit(id, $(id_name).text());
        });

        $('#SubmitEditImage').click(function () {
            var id = $('#EditImagePopup').find("#hiddenID").val();
            var fileHidden = $("#hiddenFileEdit").val();
            var file = $('#EditImagePopup').find('.filename').text();
            var idhomestayHidden = $("#hiddenSelectEdit").val();
            var idhomestay = $($($($('#EditImagePopup').find('.select2-choice')).children())[0]).text();

            if(fileHidden != file || idhomestayHidden != idhomestay)
            {
                var idHomeStay = idhomestay.split(' ')[0];

                SaveImage(idHomeStay);
            }
            else
            {
                alert("You must change field to save chang");
            }
        });
    }

    function LoadPopupEdit(id, id_name) {
        $.ajax({
            url: "@Url.Action("getImageByID", "Tables")",
            data: { id: id },
            type: "POST",
            success: function (data) {
                if (data != false) {
                    var datasuccess = data.data;
                    var namefile = datasuccess.Image.split('/');
                    $('#EditImagePopup').find('#hiddenFileEdit').val(namefile[namefile.length - 1])
                    $('#EditImagePopup').find('.filename').text(namefile[namefile.length - 1])
                    $('#hiddenSelectEdit').val(datasuccess.IDHomeStay)
                    $('#EditImagePopup').find('.filename').text(namefile[namefile.length - 1])
                    $($($($('#EditImagePopup').find('.select2-choice')).children())[0]).text(id_name)
                    $('#EditImagePopup').find('#hiddenSelectEdit').val(id_name)
                }
            }, error: function (error) {
                alert("Error");
            }
        });
    };

    function SaveImage(idHomeStay) {
        var formData = new FormData();
        var files = $('#EditImagePopup').find("#file").get(0).files;
        var oldfiles = $('#EditImagePopup').find('#hiddenFileEdit').val();

        if (files.length > 0) {
            formData.append("file", files[0]);
            formData.append("Id", $('#EditImagePopup').find('#hiddenIDEdit').val());
            formData.append("idHomeStay", idHomeStay);
            formData.append("oldFiles", oldfiles);
        }
        else
        {
            formData.append("file", null);
            formData.append("Id", $('#EditImagePopup').find('#hiddenIDEdit').val());
            formData.append("idHomeStay", idHomeStay);
            formData.append("oldFiles", "");
        }

        $.ajax({
            url: '@Url.Action("EditFile", "Upload")',
            type: "POST",
            processData: false,
            data: formData,
            contentType: false,
            success: function (response) {
                if (response != null || response != '') {
                    $('#AddImagePopup').addClass('hidden');
                    location.reload();
                    alert(response.messeger);
                }
                else {
                    alert(response.messeger);
                }
            },
            error: function (er) {
                alert(response.messeger);
            }

        });
    };

    function LoadOptionHomeStay() {
        $.ajax({
            url: "@Url.Action("GetAllHomeStay", "Tables")",
            data: {},
            type: "POST",
            success: function (data) {
                if (data.success) {
                    var datasuccess = data.data;
                    for (var i = 0; i < datasuccess.length ; i++) {
                        var option = '<option>' + datasuccess[i].ID_HomeStay + ' - ' + datasuccess[i].Name + '</option>'
                        $('#multipleHomestay').append(option);
                        $('#multipleHomestay-edit').append(option);
                    }
                }
            }, error: function (error) {
                alert(data.messeger);
            }
        });
    };

    function AddImage() {
        var listSelected = $($('.select2-search-choice').find('div'));
        var listId = "";
        for (var i = 0; i < listSelected.length - 1; i++) {
            var idadds = $(listSelected[i]).text().split(' ');
            listId += $(idadds)[0] + ',';
        }
        listId += $($(listSelected[listSelected.length - 1]).text().split(' '))[0];

        console.log(listId);
        var formData = new FormData();
        var files = $("#file").get(0).files;

        if (files.length > 0 && listId.length != 0) {
            formData.append("file", files[0]);
            formData.append("listId", listId);
        }
        else {
            alert('warning !!! Please input to upload');
            return false;
        }
        var extension = $("#file").val().split('.').pop().toUpperCase();
        if (extension != "PNG" && extension != "JPG" && extension != "GIF" && extension != "JPEG") {
            alert('warning !!! Please extension image is PNG, JPG, GIF, JPEG to upload');
            return false;
        }
        console.log(formData, 'formData');

        $.ajax({
            url: '@Url.Action("UploadFile", "Upload")',
            type: "POST",
            processData: false,
            data: formData,
            contentType: false,
            success: function (response) {
                if (response != null || response != '') {
                    $('#AddImagePopup').addClass('hidden');
                    alert(response.messeger);
                    location.reload();
                }
                else {
                    alert(response.messeger);
                }
            },
            error: function (er) {
                alert(response.messeger);
            }

        });
        return false;
    };

    function RemoveImage(id, src) {
        $.ajax({
            url: "@Url.Action("RemoveImage", "Tables")",
            data: { id: id, src: src },
            type: "POST",
            success: function (data) {
                if (data) {
                    alert("Comple !!!");
                    location.reload();
                }
            }, error: function (error) {
                alert("Error !");
            }
        });
    };

</script>
